<section class="hero-section d-flex align-items-center">
    <div class="container text-center">
        <h1>Hi, I'm <span class="highlight">Alaa Hesham</span></h1>
        <p class="lead">A passionate front-end developer with a
            strong foundation in creating responsive and interactive
            websites. I have experience working with HTML, CSS, JavaScript, Bootstrap, jQuery, TypeScript, and
            Angular, and I love
            transforming creative designs into user-friendly digital experiences.
            <br>
            <br>
            In addition to front-end technologies, I have knowledge of C++, object-oriented programming (OOP), and
            databases,
            including SQL. This well-rounded skill set allows me to understand both client-side and server-side
            aspects of web
            development.
            <br>
            <br>
            I'm always looking for opportunities to grow my skills, explore new technologies, and take on exciting
            projects.
        </p>
    </div>
</section>